@media (max-width: 367px) {
    .title-statistics-section {
        font-size: 32px;
    }

    .text-statistics-section {
        font-size: 13px;
    }

    .on-card {
        max-width: 460px;
    }

}

@media (min-width:480px) {
    .title-primary-section {

        font-size: 50px;
    }

    .text-primary-section {
        max-width: 440px;
    }

    .startistics-card {
        min-height: 36px;

    }


    .startistics-card-end {
        flex-direction: row;
        padding: 20px;
    }
}


@media (min-width:768px) {
    .startistics-card-end {
        width: 100%;
        gap: 20px;
        padding: 20px;
        flex-direction: row;
        max-width: 500px;
        border-radius: 30px;
    }


    .navbar-section {
        height: 85px;
    }

    body {
        padding-top: 85px;
    }

    .navbar-section-active {
        height: 74px;
    }

    .btn {
        padding: 12px 20px;
    }

    .title-primary-section {
        font-size: 75px;
        max-width: 500px;
    }

    .text-primary-section {
        font-size: 19px;
        max-width: 450px;
    }

    .title-statistics-section {
        font-size: 56px;
        max-width: initial;
    }

    .text-statistics-section {
        font-size: 17px;
    }
}

@media (hover:hover) {

    .startistics-card:hover,
    .on-card:hover {
        box-shadow: 1px 1px 30px rgba(123, 161, 215, 0.307);
        border: 2px solid var(--card-border);
        transform: scale(1.03) translateY(-6px);
    }

    .startistics-card-end:hover {
        box-shadow: 0px 0px 20px rgba(123, 161, 215, 0.307);
        border: 2px solid var(--card-border);
        transform: translateY(6px);
    }

    .button-arrow:hover {
        transform: scale(0.9);
    }

    .startistics-card {
        max-width: 250px;
    }
}

@media (min-width:1024px) {
    .on-card {
        height: 85px;
    }

    .title-primary-section {
        font-size: 85px;
        max-width: 600px;
    }



}
